@import url("https://fonts.googleapis.com/css?family=Mulish");
@import url("https://fonts.googleapis.com/css?family=Merriweather");

.link-in-text {
  font-style: normal;
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

a.link-in-text:hover {
  color: #e4a86f;
}

.bold-italic {
  font-weight: bold;
  font-style: italic;
  margin-right: 5px;
}
