@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.Contact {
  background-image: url(../images/star.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Merriweather', serif;
}

.contact-title-div {
  margin-top: 5vh;
  font-size: 3rem;
  margin-bottom: 5vh;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-main-div {
  font-size: 2rem;
  margin-bottom: 5vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-logo {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  margin-right: 15px;
}

.contact-container {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.contact {
  margin-top: 3vh;
  flex-direction: row;
  display: flex;
}

.contact-text {
  margin-top: auto;
  margin-bottom: auto;
}