@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mulish");

@import "./Buttons.css";
@import "./Font.css";

.main-background {
  background: no-repeat top/100% url(../images/star.png);
  background-color: #000525;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Mulish;
}

.category-div {
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}
@media (max-width: 767px) {
  .category-div {
    margin-bottom: 10vh;
    font-size: 1.5rem;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
}

.category-title {
  font-family: Mulish;
  font-size: 1.2rem;
  font-weight: bold;

  margin-right: 3vw;
  margin-top: 10px;
  margin-bottom: auto;

  position: relative;
  padding-top: 10px;
  width: 10vw;
}
.category-title:before {
  top: 0;
  content: "";
  position: absolute;
  width: 50px;
  border-top: 5px solid white;
}
@media (max-width: 767px) {
  .category-title {
    width: 100%;
    white-space: normal;
    margin-bottom: 1rem;
  }
}

.category-text {
  font-family: Mulish;
  font-size: 1.15rem;

  text-align: left;
  margin-top: 10px;
  margin-bottom: auto;
  width: 80%;
}

@media (max-width: 767px) {
  .category-text {
    text-align: left;
    margin-top: 10px;
    margin-bottom: auto;
    width: 100%;
    font-size: 18px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
  }
}
