@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mulish");

@import "./Buttons.css";

.Main {
  background: no-repeat top/100% url(../images/star.png);
  background-color: #000525;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
  font-family: "Merriweather", serif;
}

.main-container {
  margin-top: 25vh;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
  font-family: "Mulish";
  margin-bottom: 2rem;
}

.button-div {
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
  margin-left: -10vw;
}

.main-text-div {
  display: flex;
  flex-direction: column;
}

.slogan-div {
  /*font-style: italic;*/
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 7vh;
  width: 45vw;
}

.subtitle-div {
  font-size: 2rem;
}

.main-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-main {
  width: 100%;
  height: auto;
}

.main-welcome-div {
  font-size: 1.2rem;
  width: 45vw;
  text-align: left;
}

.timeline-container {
  margin-top: 100px;
  text-align: left;
  margin-bottom: 25vh;
  font-family: "Merriweather", serif;
}

.timeline-title {
  font-size: 1.5rem;
  margin-bottom: 10vh;
  position: relative;
  margin-left: 15%;
  font-family: "Merriweather", serif;
}

.timeline-title:before {
  margin-top: -10px;
  top: 0;
  content: "";
  position: absolute;
  width: 40px; /* or 100px */
  border-top: 5px solid white;
}

.timeline-line {
  width: 100vw;
  font-family: "Merriweather", serif;
}

/* ARROW */
.arrow {
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  width: 30px;
  height: 110px;
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  transform: rotate(45deg);
  margin-top: -10px;
  margin-bottom: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
