@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mulish');

.Main {
  background: no-repeat top/100% url(../images/star.png);
  background-color: #000525;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Merriweather', serif;
}

.main-container {
  height: 100vh;
  text-align: center;
}

.slogan-div {
  margin-top: 25vh;
  /*font-style: italic;*/
  font-size: 2.5rem;
  margin-bottom: 10vh;
}

.main-welcome-div {
  font-size: 1.5rem;
  margin-bottom: 10vh;
  width: 100%;
}

a.main-btn-join {
  display:inline-block;
  padding:0.35em 1.2em;
  margin:0 0.3em 0.3em 0;
  font-weight: 300;
  text-align:center;
  transition: all 0.2s;
  /*font-size: 1.5rem;*/
  border: 1px solid white;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 20px rgba(104, 109, 224, 0.5));
  border-radius: 50px;
  color: #FFFFFF;
  text-decoration: none;
  background: transparent;
}

a.main-btn-join:hover{
  color: #FFFFFF;
  background-color: #2A36A1;
}

.timeline-container {
  margin-top: 100px;
  text-align: left;
  margin-bottom: 25vh;
  font-family: 'Merriweather', serif;
}

.timeline-title {
  font-size: 1.5rem;
  margin-bottom: 10vh;
  margin-left: 15%;
  font-family: 'Merriweather', serif;
}

.timeline-line {
  width: 100vw;
  font-family: 'Merriweather', serif;
}

