@import url("https://fonts.googleapis.com/css?family=Mulish");

.date-text {
  font-size: 1rem;
  font-family: Mulish;
}

.title-text {
  font-size: 1.1rem;
  font-family: Mulish;
  font-weight: 800;
  color: #e4a86f;
}

.content-text {
  font-size: 0.8rem;
  font-family: Mulish;
  margin-bottom: 1rem;
}
