.poster-container {
  background-color: white;
  border-radius: 10px;
  width: 350px;
  height: 275px;
  margin-bottom: 2rem;
}

.color-box {
  width: 100%;
  height: 50px;
  border-radius: 10px 10px 0 0;
  font-size: 1.5rem;
  font-family: Mulish;
  font-weight: bolder;
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  color: white;
}

.content-box {
  height: 225px;
}

.poster-img {
  height: 100%;
  width: auto;
}

.poster-box {
  width: 250px;
  padding-left: 1rem;
}

.poster-name {
  margin-bottom: 0.2rem;
  font-family: Mulish;
  font-size: 1.2rem;
  font-weight: bolder;
  color: black;
}

.poster-des {
  font-size: 0.7rem;
  font-family: Mulish;
  color: #444444;
  padding-bottom: 2rem;
  line-height: 150%;
  white-space: pre;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(266deg)
    brightness(104%) contrast(101%);
}
