.box {
  background: white;
  border-radius: 5px;
  color: white;
  padding: 0px;
  /* height: 220px; */
  width: 250px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: 0.3s;
}

.img-box {
  height: 190px;
  width: 190px;
  top: -80px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prof-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  width: fit-content;
  padding-top: 80px;
}
.name {
  margin-top: -60px;
  margin-bottom: 0.5rem;
  font-family: Mulish;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}
.des {
  font-size: 1rem;
  font-family: Mulish;
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  line-height: 110%;
}
