@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.scenario-popup-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 100;
}
@media (max-width: 767px) {
  .scenario-popup-container {
    display: block;
  }
}

.divider {
  width: 100%;
  border-top: 1px solid white;
}

.scenario-character-left {
  position: absolute;
  width: 25vw;
  left: 5vw;
}
.scenario-character-right {
  position: absolute;
  width: 25vw;
  right: 5vw;
}
.scenario-text-container-left {
  margin-left: 22.5vw;
  margin-right: 10vw;
  z-index: 90;
}
.scenario-text-container-right {
  margin-left: 10vw;
  margin-right: 22.5vw;
  z-index: 90;
}

/* Modal Design */
.modal-background {
  background: no-repeat top/100% url(../images/modal_background.png);
  padding-left: 1rem;
  padding-right: 1rem;
}

.popup-content {
  width: 70%;
  max-height: 70%;
  overflow: scroll;
}
@media (max-width: 767px) {
  .popup-content {
    width: 80%;
  }
}

.modal-title {
  font-family: Mulish;
  font-size: 1.7rem;
  font-weight: bolder;
  text-align: center;
}

.modal-subtitle {
  font-family: Mulish;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 1rem;
}

.modal-text {
  font-family: Mulish;
  font-size: 0.9rem;
  text-indent: 1.5rem;
  line-height: 20px;

  padding-left: 1rem;
  padding-right: 1rem;
}

.scenario-icon {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.p-0-content {
  padding: 0;
}
