@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.Team {
  background: no-repeat top/100% url(../images/star.png);
  background-color: #000525;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  color: white;
  font-family: "Merriweather", serif;
}

.team-title-div {
  margin-top: 25vh;
  font-size: 3rem;
  margin-bottom: 10vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Merriweather", serif;
}

.team-category {
  margin-right: 2vw;
  margin-top: 10px;
  margin-bottom: 5rem;
  position: relative;
  padding-top: 10px;
  width: 100%;

  font-family: Mulish;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: normal;
  text-align: center;
}

@media (max-width: 767px) {
  .team-category {
    margin-right: 3vw;
    white-space: nowrap;
  }
}

.team-category:before {
  top: 0;
  content: "";
  position: absolute;
  width: 50px;
  margin: auto;
  left: 0;
  right: 0;
  border-top: 5px solid white;
}
