@import url("https://fonts.googleapis.com/css?family=Mulish");

.Navbar-custom {
  color: white;
  font-family: Mulish;
  font-size: 1rem;
}

.dropdown-menu {
  background-color: transparent !important;
}

.dropdown-item {
  color: white !important;
}
